* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: monospace;
}
.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 4rem;
}
.product-container > div {
    border: 2px solid whitesmoke;
}
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.input-search,
.search-button,.addCart-button {
    padding: 0.5rem;
}
.search-button {
    margin-left: 1rem;
}
.details-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    gap: 0.5rem;
}

.active {
    color: white;
}
.disactive {
    text-decoration: none;
    color: black;
}
.menu > a {
    font-size: 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: cadetblue;
    margin-bottom: 1rem;
}
.item-container {
    padding: 1rem;
}
.grid-container {
    border-radius: 8px;
    width: 100%;
    height: 25rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

