* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: monospace;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    padding: 4rem;
    cursor: pointer;
}
.product-container > div {
    border: 2px solid whitesmoke;
}
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
ul > li {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    border: 2px solid grey;
    margin-bottom: 1rem;
}
.cartView-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.input-search,
.search-button,
.addCart-button {
    padding: 0.5rem;
}
.search-button {
    margin-left: 1rem;
}
.details-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    gap: 0.5rem;
}

.details-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    gap: 0.5rem;
    font-family: monospace;
}

.active {
    color: midnightblue;
    border: solid;
    border-radius: 5px;
    text-decoration: none;
    background: inherit;
}
.disactive {
    text-decoration: none;
    color: black;
}
.menu > a {
    font-size: 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(gray, white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item-container {
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(cadetblue, white);
    position: sticky;
    font-family: monospace;
}
.items-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(cadetblue, white);
    position: sticky;
    font-family: monospace;
    width: 50%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: auto;
    padding: 3rem;
}
.grid-container {
    border-radius: 8px;
    width: 100%;
    height: 25rem;
    background-color: white;
    height: 30rem;
    font-family: monospace;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notification {
    position: fixed;
    top: 55px;
    right: 200px;
    background-color: green;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.notification-close {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.notification-content {
    margin-right: 30px;
}
/* Add this to your CSS */
.cart-icon {
    position: relative;
    display: inline-block;
}

.cart-count {
    position: absolute;
    top: 20px; /* Adjust the position as needed */
    background-color: green;
    color: #fff;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(
            auto-fit,
            minmax(100%, 1fr)
        ); /* Full-width columns */
    }
}
.font{
    padding: 0%;
    margin: 0%;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
}
.remove{
    background-color:rgb(136, 196, 198); 
    border: red;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.remove:hover {
    background-color: red ;
    color: white;
  }
.pic{
    height: 40px;
    width: 40px;
}
.list{
    border-radius: 15%;
    border-color:cadetblue;
}
.wrapper{
    height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.wrapper button{
    height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    border: none;
}

.wrapper span{
    height: 30px;
    min-width: 30px;
    display: flex;
    background: transparent;
    justify-content: center;
    border-radius: 5px;
    font-size: 25px;
    border: none;
}

